*{
    margin: 0;
    padding: 0;
}

body{
    background: #c8cce6;
}

header, footer{
    background: #fff;
}

footer{
    padding: 20px 15px;
    color: #444;
}


/** Bootstrap **/
.navbar-brand{
    float: none;
    padding: 0;
}
.navbar-brand img{
    max-height: 50px;
    max-width: 50px;
    margin: 10px;
}

.navbar-nav > li > a{
    line-height: 40px;
    font-size: 20px;
}

.navbar-toggle .icon-bar{
    background: #000;
    z-index: 100;
}

.navbar-toggle{
    padding: 19px 10px;
}

.navbar-nav a{
    color: #444;
}

.pagination{
    margin-left: 50%;
    transform: translateX(-50%);
}
/** Bootstrap **/

.main-column{
    margin-top: 30px;
}

.main-column .article{
    padding: 10px;
}

.sidebar .widget,
.main-column .article{
    margin-bottom: 30px;
    color: #444;
    background: #fff;
}



/** Section article **/
.article .article-thumbnail{
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-top: -10px;
}

.article h2 a{
    color: #444;
}
.article .author img{
    width: 50px;
    margin-right: 10px;
}
/** Section article **/


/** Sidebar **/
.sidebar .widget {

}
.sidebar .widget h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    margin: 0;
    color: #444;
}
.sidebar .widget ul li{
    list-style-type: none;
}
.sidebar .widget ul li a{
    display: block;
    color: #444;
    padding: 5px 10px;
}
.sidebar .widget ul li a:hover{
    background: #ddd;
    text-decoration: none;
}
/** Sidebar **/

/** Pagination **/
.pagination > li > a,
.pagination > li > span{
    color: #444444;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover{
    background: #444;
    border-color: #444;
}
/** Pagination **/