*{
    margin: 0;
    padding: 0;
}

body{
    background: #c8cce6;
}

header{
    background: #fff;
}


/** Bootstrap **/
.navbar-brand{
    float: none;
    padding: 0;
}
.navbar-brand img{
    max-height: 50px;
    max-width: 50px;
    margin: 10px;
}

.navbar-nav > li > a{
    line-height: 40px;
    font-size: 20px;
}

.navbar-toggle .icon-bar{
    background: #000;
    z-index: 100;
}

.navbar-toggle{
    padding: 19px 10px;
}

.navbar-nav a{
    color: #444;
}

/** Bootstrap **/

.main-column{
    margin-top: 30px;
}

.main-column .article{
    background: #fff;
    padding: 10px;
}

.sidebar .widget,
.main-column .article{
    margin-bottom: 30px;
}

.sidebar .widget{
    background: #fff;
}

.article{
    color: #444;
}
.article .article-thumbnail{
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-top: -10px;
}

.article h2 a{
    color: #444;
}
.article .author img{
    width: 50px;
    margin-right: 10px;
}

.pagination{
    margin-left: 50%;
    transform: translateX(-50%);
}